* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e6e6e6;
}
.container .headline {
  height: 800px;
  background-color: #3d3131;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom, right, center;
  animation: changebackground 3s ease infinite;
  /*The code of the animation is in animation.css folder */
}
.container .headline .headline::before {
  content: "";
  background-image: url("../assets/shining.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: 2;
  transform: translateY(-30px);
}
.container .headline .headline::after {
  content: "";
  background-image: url("../assets/Union_circles.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: 1;
  transform: translateY(-40px);
}
.container .headline .intro {
  display: flex;
  justify-content: space-between;
}
.container .headline .intro .intro__header {
  height: 150px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.container .headline .intro .intro__header .intro__list {
  display: flex;
  gap: 40px;
  margin-right: 150px;
}
.container .headline .intro .intro__header .intro__list .intro__list--item {
  display: inline-block;
  list-style: none;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2em;
}
.container .headline .intro .intro__header .intro__project {
  text-decoration: none;
  text-transform: uppercase;
  color: #fffbfb;
  display: inline-block;
}
.container .headline .intro .intro__header .intro__project--main {
  margin-left: 100px;
  letter-spacing: 0.1em;
  margin-right: 20px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: normal;
}
.container .headline .intro .intro__header .intro__icon {
  font-family: "Source Sans Pro";
  font-size: 20px;
  color: #fffbfb;
  display: none;
}
.container .headline .app__headline--main {
  color: #fffbfb;
  margin-bottom: 40px;
  margin-top: 20px;
}
.container .headline .third__headline {
  color: #fffbfb;
  margin-bottom: 40px;
}
.container .section-headline {
  background-color: #e6e6e6;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .section-headline .app__headline--text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #666666;
  line-height: 22px;
}
.container .section-headline .app__headline--second {
  margin: 25px;
  color: #464547;
}
.container .section-headline .third__headline {
  margin-bottom: 25px;
  color: #666666;
}
.container .section-headline .section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  margin: 30px 150px;
  align-content: center;
}
.container .learn-more {
  background-image: url(../assets/background-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(140, 79, 42, 0.3019607843);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .learn-more .third__headline {
  color: #fffbfb;
}
.container .learn-more .app-section__button--learn-more {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  font-size: 70px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .app-section {
  width: 100%;
  height: 100vh;
}
.container .app-section .headline__text--styles {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .app-section .app__headline {
  font-family: Oswald, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}
.container .app-section .third__headline {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
.container .app-section .app-section__button--read-more {
  border-radius: 18px;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 50%;
}
.container .app__headline--last {
  color: #fffbfb;
  margin-bottom: 40px;
  margin-top: 20px;
}
.container .footer {
  height: 170px;
  background-color: #464547;
  padding-left: 140px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: stretch;
}
.container .footer__info {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  align-items: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2;
}
.container .footer__info .footer__address--span {
  display: block;
}
.container .footer__mail {
  margin-top: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.container .footer__mail .footer__info--mail {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.container .footer .footer__info--project {
  margin-left: 8px;
  color: #fffbfb;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 32px;
  text-align: center;
}
.container .footer__copyright {
  grid-column: 3/4;
  grid-row: 2/-1;
  align-self: center;
}

.container .learn-more .app-section__button--learn-more, .container .app-section .app-section__button--read-more {
  background: #55c2d8;
  color: #fffbfb;
  border: #55c2d8;
  padding: 5px 18px;
  line-height: 26px;
  text-align: center;
}

.logo-animation:hover {
  animation: changelogo 4s 1s ease;
}

@keyframes changelogo {
  0% {
    transform: rotate(0deg) scale(1);
  }
  30%, 40% {
    transform: rotate(180deg) scale(-1.5, 1.3);
  }
  80% {
    transform: rotate(0deg) scale(1);
  }
}
.section-headline {
  transition: transform 3s ease-in;
}
.section-headline .app-section__button--read-more:hover {
  transform: rotate(10deg);
  transform-origin: left bottom;
}

.learn-more .app-section__button--learn-more:hover {
  background-color: #fffbfb;
  color: #55c2d8;
  transition: all 1s linear;
}

@keyframes changebackground {
  0% {
    background-image: url("../assets/Union_circles.png"), url("../assets/Desktop_Backgrounds.png");
    background-position: bottom, center;
    background-origin: inherit;
  }
  50% {
    background-image: url("../assets/Union_circles.png"), url("../assets/Desktop_Backgrounds.png");
    background-position: center, center;
  }
  100% {
    background-image: url("../assets/Union_circles.png"), url("../assets/shining.png"), url("../assets/Desktop_Backgrounds.png");
    background-position: bottom, right, center;
  }
}
@keyframes smallbackground {
  0% {
    background-image: url("../assets/Desktop_Backgrounds.png");
    background-position: fixed;
    background-origin: right;
  }
  50% {
    background-image: url("../assets/Union_circles.png"), url("../assets/Desktop_Backgrounds.png");
    background-position: left, fixed;
    transform: translateY(100px, 0);
    background-origin: center;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url("../assets/Union_circles.png"), url("../assets/shining.png"), url("../assets/Desktop_Backgrounds.png");
    background-position: center, 100% center, fixed;
    transform: scale(0.5, 0.5 1);
    transform: translateY(100px, 200px, 0);
    transform: translateX(100px, 200px, 0);
    background-origin: center, right, center;
  }
}
@media (max-width: 768px) {
  .container .headline .intro .intro__header {
    display: flex;
    justify-content: space-around;
  }
  .container .headline .intro .intro__header .intro__project--main {
    margin-left: 10px;
  }
  .container .headline .intro .intro__header .intro__nav {
    height: auto;
    margin-bottom: 80px;
  }
  .container .headline .intro .intro__header .intro__nav .intro__list,
  .container .headline .intro .intro__header .intro__nav .intro__list--item {
    display: none;
  }
  .container .headline .intro .intro__header .intro__nav .intro__icon {
    display: inline-block;
  }
  .container .headline .intro__text .app__headline {
    margin-bottom: 30px;
  }
  .container .headline .intro__text .app__headline--main {
    color: #fffbfb;
  }
  .container .section-headline {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container .section-headline .headline__text--styles {
    display: block;
    margin: 10px;
  }
  .container .section-headline .headline__text--styles .app__headline--second {
    width: 70%;
    line-height: normal;
  }
  .container .section-headline .section-grid {
    font-size: 16px;
    margin: 15px 17px;
    display: block;
  }
  .container .learn-more .app-section__button--learn-more {
    font-size: 45px;
    text-align: center;
    width: 100px;
    height: 100px;
  }
  .container .footer {
    margin: 0;
    padding: 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container .footer__info {
    margin-top: 20px;
  }
  .container .footer__logo {
    margin-top: 40px;
  }
  .container .footer__info--address {
    height: auto;
  }
  .container .footer__info--address .footer__address {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .container .footer__copyright {
    margin-bottom: 50px;
  }
  .container .app__headline {
    font-size: 40px;
  }
  .container .third__headline {
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 1045px) {
  .container .app-section {
    min-height: 100vh;
    height: auto;
  }
  .container .headline {
    background-image: url(/assets/Desktop_Backgrounds.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% center, right, right;
    orientation: portrait;
    animation: smallbackground 3s ease infinite;
  }
  .container .headline .intro {
    justify-content: space-around;
  }
  .container .headline .intro .intro__header .intro__project--main {
    margin-left: 0;
  }
  .container .headline .intro .intro__header .intro__nav .intro__list {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 0;
  }
  .container .section-headline .headline__text--styles {
    margin: 15px 50px;
    column-gap: 40px;
  }
  .container .headline::before,
  .container .headline::after {
    display: none;
  }
  .container .app__headline {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 20px;
  }
  .container .third__headline {
    margin-bottom: 20px;
  }
  .container .learn-more .app-section__button--learn-more {
    font-size: 50px;
    text-align: center;
    width: 125;
    height: 125px;
  }
}

/*# sourceMappingURL=style.css.map */
