@mixin responsive($length) {
  @media (max-width: $length) {
    @content;
  }
}

.container {
  @include responsive(768px) {
    .headline {
      .intro {
        .intro__header {
          display: flex;
          justify-content: space-around;
          .intro__project--main {
            margin-left: 10px;
          }
          .intro__nav {
            height: auto;
            margin-bottom: 80px;

            .intro__list,
            .intro__list--item {
              display: none;
            }

            .intro__icon {
              display: inline-block;
            }
          }
        }
      }

      .intro__text {
        .app__headline {
          margin-bottom: 30px;
        }
        .app__headline--main {
          color: $primary-color;
        }
      }
    }
    .section-headline {
      margin-top: 50px;
      margin-bottom: 50px;

      .headline__text--styles {
        display: block;
        margin: 10px;

        .app__headline--second {
          width: 70%;
          line-height: normal;
        }
      }

      .section-grid {
        font-size: 16px;
        margin: 15px 17px;
        display: block;
      }
    }

    .learn-more {
      .app-section__button--learn-more {
        font-size: 45px;
        text-align: center;
        width: 100px;
        height: 100px;
      }
    }

    .footer {
      margin: 0;
      padding: 0;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &__info {
        margin-top: 20px;
      }

      &__logo {
        margin-top: 40px;
      }

      &__info--address {
        height: auto;

        .footer__address {
          display: flex;
          flex-direction: column;
          justify-items: center;
        }
      }

      &__copyright {
        margin-bottom: 50px;
      }
    }

    .app__headline {
      font-size: 40px;
    }

    .third__headline {
      font-size: 20px;
      width: 100%;
    }
  }
}
.container {
  @include responsive(1045px) {
    .app-section {
      min-height: 100vh;
      height: auto;
    }

    .headline {
      background-image: url(/assets/Desktop_Backgrounds.png);
      @include bgstyle(cover, no-repeat);
      background-position: 100% center, right, right;
      orientation: portrait;
      animation: smallbackground 3s ease infinite;
      //  The code of the animation is  in animation.css folder //

      .intro {
        justify-content: space-around;
        .intro__header {
          .intro__project--main {
            margin-left: 0;
          }
          .intro__nav {
            .intro__list {
              display: flex;
              justify-content: flex-end;
              gap: 10px;
              margin-right: 0;
            }
          }
        }
      }
    }

    .section-headline {
      .headline__text--styles {
        margin: 15px 50px;
        column-gap: 40px;
      }
    }

    .headline::before,
    .headline::after {
      display: none;
    }

    .app__headline {
      font-size: 40px;
      line-height: normal;
      margin-bottom: 20px;
    }

    .third__headline {
      margin-bottom: 20px;
    }

    .learn-more {
      .app-section__button--learn-more {
        font-size: 50px;
        text-align: center;
        width: 125;
        height: 125px;
      }
    }
  }
}
