@mixin before {
  content: "";
  background-image: url("../assets/shining.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: 2;
  transform: translateY(-30px);
}

@mixin after {
  content: "";
  background-image: url("../assets/Union_circles.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: 1;
  transform: translateY(-40px);
}
