$primary-color: #fffbfb;
$button-color: #55c2d8;
$background-color: #e6e6e6;
$second-headline: #464547;
$secondbg: #3d3131;
$third-headline: #666666;
$section-bg: #8c4f2a4d;
$footer-txt: #fff;


$color-highlight: $primary-color, $button-color, $background-color,
  $second-headline, $secondbg, $third-headline, $section-bg, $footer-txt;

$main-font: "Source Sans Pro";
$secondary-font: Oswald, sans-serif;
$button-font: Arial, Helvetica, sans-serif;
$font-stack: $main-font, $secondary-font;
